
* {
    background-color: darkslategrey;
    box-sizing: border-box
}
.page {
    text-align: center;
    margin: 20px 10% 20px 10%;
    
}
.nav-links {
    display: flex;
    flex-direction: inline-block;
    justify-content: space-between;
    list-style: none;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}


.nav-links li a, .scrollTo{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: black;
    font-weight: 700px;
    font-size: 1.1em;
}

.nav-links li a:hover {
    color: lightslategray;


}

.scrollTo:hover {
    color: lightslategray;
}

button {
    background-color: rgba(47, 79, 79, 1);
    border: none;
    cursor: pointer;
    font-weight: 700px;
    font-size: 1.1em
}
button:hover {
    color: lightslategray;
}

/* button:hover {

} */

h1 {
    margin: 60px 20px 40px 20px;
    font-size: 4em;
}

h2 {
    font-size: 2em;
    padding: 20px

}

/*h3 {

} */

h4 {
    font-size: 2em;
}

/* h5 {

}

h6 {

} */


.in-training {
    font-size: .75em;
    font-weight: 400px;
}

.about-me-body {
    margin: 20px 10%;
}

.projects {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0px 5% 0px 5%;
}
.projects1 {
    margin: 5%;
}
.projects2 {
    margin: 5%;
}
.projects3 {
    margin: 5%;
}
.projects4 {
    margin: 5%;
}
p {
     justify-content: center;
     margin: 5%;
     text-align: center;
     margin: 0px 10px 40px 10px;
 }

 .languages {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     
 }

.langTitle {
    margin: 10px 0px 5px 0px;
}
 .contact-me {
     justify-content: center;
     text-align: center;
 }
